{% extends 'base.html.twig' %}

{% block title %}Hello in e-shop!{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Hello in e-shop</h1>

            <ul>
                {% for category in categories %}
                    <li>{{ category.title }}</li>
                {% endfor %}
            </ul>

        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <a href="{{ path('category_show', {'slug': category.slug}) }}">
                        {% if category.image %}
                        <img src="/images/{{ asset(category.image.getUrl()) }}" alt="{{ category.title }}">
                            {% else %}
                                <img src="/images/no-photo.jpg" alt="">
                        {% endif %}
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ category.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
